<table class="table">
  <tr>
  <th>Date of Creation</th>
  <th>Title</th>
  <th>Author</th>
  <th>Points</th>
  <th>Link</th>
  </tr>
  <% @stories.each do |story| %>
  <tr>
    <td><%= story.created_at_f %></td>
    <td><%= story.title %></td>
    <td><%= story.author %></td>
    <td><%= story.points %></td>
    <td><a href="<%= story.url %>" target="_blank"><%= story.url %></a></td>
</tr>
<% end %>
</table>
<ul class="pagination">
  <% (1..@num_of_pages-1).each do |i| %>
    <li <% if i == @page %>class="disabled"<% end %>>
    <a href="/?<%= @options_str %>page=<%= i %>" ><%= i %></a>
  </li>
<% end %>
</ul>
